/* Contenedor flexible */
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

/* Estilo de la imagen responsiva */
.responsive-img {
    width: 80%;
    height: auto; /* Cambiado a auto para mantener la proporción */
}

@media (min-width: 750px) {
    .responsive-img {
        width: 15%;
    }
}

@media (max-width: 1000px) {
    .responsive-img {
        width: 30%;
    }
}

/* Animaciones */
@keyframes colorAnimation {
    0% { color: red; }
    33% { color: green; }
    66% { color: blue; }
    100% { color: red; }
}

@keyframes rgbAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* Estilo del encabezado animado */
.animated-heading {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(90deg, red, yellow, green, cyan, blue, magenta, red);
    background-size: 600% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: rgbAnimation 10s infinite linear;
    flex: 1 1 100%; /* Hace que el encabezado ocupe toda la línea */
    text-align: center; /* Centra el texto */
}
